.items {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 0 4px;
    background-color: slategrey;
    border-radius: 20px;
}